:root {
            --primary-bg: #e1d9ff; /* Light Purple */
            --dark-purple: #2b1444;
            --train-purple: #572b83;
            --train-window: #d4aa71;
            --shooting-star-purple: #502b8c;
            --light-pink: #b65b8d;
            --dark-pink: #863c82;
            --dono-ka-sar: #9c6bc3;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: var(--primary-bg);
            color: var(--dark-purple);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header {
            background-color: var(--train-purple);
            color: white;
            text-align: center;
            padding: 20px;
            width: 100%;
        }

        section {
            display: block; /* Changed from none to block */
            max-width: 600px;
            margin: 20px;
            padding: 20px;
            border: 2px solid var(--dark-purple);
            background-color: white;
            border-radius: 10px;
        }

        h2 {
            cursor: pointer;
            color: var(--shooting-star-purple);
        }

        form {
            display: none;
            margin-top: 20px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        select,
        input,
        textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid var(--dark-purple);
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            background-color: var(--dono-ka-sar);
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Footer Styles */
footer {
    background-color: var(--train-window);
    text-align: center;
    padding: 0.1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

footer p {
    color: var(--dark-purple);
    font-size: 0.8rem;
}




