body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #AEDFF7;
}

header {
    background-color: #AEDFF7;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #0047AB;
}

section {
    background-color: #AEDFF7;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s forwards;
}

h2 {
    color: #0047AB;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 15px;
}

label {
    color: #0047AB;
}

input[type="checkbox"],
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #0047AB;
    border-radius: 5px;
}

button {
    background-color: #0047AB;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00274d;
}

footer {
    background-color: #AEDFF7;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #0047AB;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
