:root {
    --white: #e1d9ff;
    --dark-purple: #2b1444;
    --train-purple: #572b83;
    --train-window: #d4aa71;
    --shooting-star-purple: #502b8c;
    --light-pink: #b65b8d;
    --dark-pink: #863c82;
    --dono-ka-sar: #9c6bc3;
}

body {
    background-color: var(--dark-purple);
    color: var(--white);
    font-family: 'Arial', sans-serif;
    margin: 0;
}

nav {
    background-color: var(--train-purple);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--white);
    padding: 15px;
    display: block;
}

nav a:hover {
    background-color: var(--train-window);
}

.connect-section {
    padding: 20px;
}

.directory-section, .skill-sharing-section, #remote-volunteering {
    background-color: var(--train-window);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.directory-option, .skill-sharing-section, #remote-volunteering {
    cursor: pointer;
    margin-bottom: 20px;
}

.directory-option:hover, .skill-sharing-section:hover, #remote-volunteering:hover {
    background-color: var(--light-pink);
}

h2, h3, h4 {
    color: var(--shooting-star-purple);
}

form {
    background-color: var(--light-pink);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: var(--dark-purple);
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: var(--dark-pink);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--dono-ka-sar);
}

