<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support Hub</title>
    <link rel="stylesheet" href="../static/css/donate.css">
</head>
<body>

    <header>
        <h1>Donation and Support Hub</h1>
    </header>

    <div class="donation-form">
        <h2>Monetary Donation</h2>
        <form id="donationForm" action="your_payment_processing_endpoint" method="POST">
            <label for="amount">Select Donation Amount:</label>
            <select id="amount" name="amount">
                <option value="10">$10</option>
                <option value="20">$20</option>
                <option value="50">$50</option>
                <option value="custom">Custom Amount</option>
            </select>

            <div id="customAmountDiv" style="display: none;">
                <label for="customAmount">Enter Custom Amount:</label>
                <input type="number" id="customAmount" name="customAmount" placeholder="Enter custom amount">
            </div>

            <button type="submit">Donate Now</button>
        </form>
    </div>


    <section>
        <h2>Financial Assistance</h2>
        <form action="/submit_financial_assistance_form" method="post">
            <label for="legalInfo">Resources and information on legal and financial matters for care homes:</label>
            <textarea id="legalInfo" name="legalInfo" rows="4" cols="50"></textarea>

            <label for="webinars">Collaboration with professionals for advice or webinars:</label>
            <input type="checkbox" id="webinars" name="webinars">

            <button type="submit">Enroll for Financial Assistance</button>
        </form>
    </section>

    <section>
        <h2>Engage</h2>
        <form action="/submit_engage_form" method="post">
            <label for="healthPrograms">Health and Wellness Programs:</label>
            <input type="text" id="healthPrograms" name="healthPrograms">

            <label for="storytelling">Interactive Storytelling:</label>
            <textarea id="storytelling" name="storytelling" rows="4" cols="50"></textarea>

            <button type="submit">Enroll for Engagement</button>
        </form>
    </section>
<script>
        document.getElementById('amount').addEventListener('change', function () {
            var customAmountDiv = document.getElementById('customAmountDiv');
            if (this.value === 'custom') {
                customAmountDiv.style.display = 'block';
            } else {
                customAmountDiv.style.display = 'none';
            }
        });
    </script>
    <footer>
        <p>&copy; 2024 Support Hub. All rights reserved.</p>
    </footer>

</body>
</html>



